@font-face {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
}
 
@font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Poppins-Bold.woff2') format('woff2');
}

body {
    background-color: #fdfdfd;
    font-family: 'Poppins-Regular';
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.port-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 125px;
}

.port-menu div img {
    width: 36px;
    height: 36px;
}

.port-menu-socials {
    display: flex;
    gap: 0px 20px;
}

.port-social li {
    width: 36px;
    height: 36px;
}

.port-options {
    margin-top: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 15px;
    align-items: center;
    gap: 20px;
    margin-right: 6rem;
}

.port-presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    gap: 300px;
    align-items: center;
}

.port-presentation-history {
    display: flex;
    flex-direction: column;
}

.port-presentation-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px solid #2196F3;
}

.port-presentation-history-iam {
    display: flex;
    gap: 10px;
}

.port-presentation-history-iam-name {
    display: block;
    background-color: #2196F3;
    box-sizing: border-box;
    padding: 0px 10px;
    color: white;
}

.port-categories {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

.port-categories button {
    border-radius: 8%;
    padding: 10px;
    cursor: pointer;
    background-color: #2196F3;
    color: white;
    font-weight: 700;
    border: none;
}

.port-projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 24px;
    margin: 24px auto;
    max-width: 1200px;
}

.port-projects img {
    height: 243px;
    width: 248px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 12px;
}

.port-projects-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 5px 15px;
    text-overflow: clip;
    grid-column: span 3;
    grid-row: span 3;
    height: 487px;
    border-radius: 12px;
}

.port-projects-1 h3 {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Poppins-Bold';
}

.port-projects-1 p {
    font-size: 20px;
    line-height: 28px;
}

.port-projects-1-details {
    background-color: #2196F3;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid black;
}

.port-categories-button:active {
    background-color: aqua;
}

@media (max-width:600px) {

    * {
        max-width: 600px;
        margin: 0 auto;
    }



    .port-menu {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .port-menu-languages {
        display: none;
    }

    .port-menu-socials {
        padding: 0px;
        gap: 10px;
        margin-top: 2vh;
    }

    .port-social {
        flex-direction: row;

    }

    .port-presentation {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        text-align: left;
        padding: 0px 20px;
        max-width: 400px;
        margin-top: 3vh;
    }

    .port-presentation-image {
        width: 100px;
        height: 100px;
        margin-top: 2vh;
    }

    .port-presentation-history {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        justify-content: center;
    }

    .port-categories {
        justify-content: center;
        max-width: 400px;
        gap: 0px;
        background-color: #2196F3;
        margin-top: 3vh;
    }

    .port-categories button {
        font-size: .7rem;
        padding: 5px 0px;
        border: none;
        text-align: center;
    }

    .port-presentation-history-iam {
        font-size: .8rem;
        margin-bottom: 3vh;
    }

    .port-presentation-history h3 {
        margin-top: 1.5vh;
    }

    .port-presentation-history>p {
        margin-top: 1.5vh;
    }

    .port-presentation-history-iam-name {
        font-size: 1.3rem;
    }

    .port-projects-1 {
        margin-top: 2vh;
        width: auto;
        margin: 0 20px;
        width: 300px;
        height: 400px;
    }

    .port-projects-1 img {
        width:inherit;
        height: 200px;
    }

    .port-projects-1 p {
        font-weight: 250;
        line-height: 1.5rem;
        padding: 10px 10px;
        font-size: 1.2rem;
    }

    .port-projects-1 h3 {
        margin: 1.5vh 0px;
    }


}